@import '../../styles/vars';

.search-form {
  display: flex;
  align-items: center;
  flex: 0.6;
  padding: 5px;
  border-radius: 8px;
  box-shadow: $boxShadow;

  &-close-btn {
    visibility: hidden;
  }

  &-input {
    font-size: 18px;
    &::placeholder {
      font-size: 18px;
    }
  }

  &-input:focus + &-close-btn {
    visibility: visible;
  }
}

textarea {
  overflow: auto;
  font-size: 18px;
  color: #fff;
  resize: vertical;

  &::-webkit-scrollbar {
    width: 0;
  }
}
