@import '../../../styles/vars';

.input {
  width: 100%;
  padding: 12px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 18px;
  color: $text-color;

  &::placeholder {
    color: $text-color;
  }
}

