
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid rgba(whitesmoke, 0.1);

  &-right,
  &-left {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
